@import "nav.css";

/*
 ------- COLOR SCHEME -------
    Light Shades: 		#f5f6f6
    Light Accent: 		#d69a4b
    Main Brand Color: 	#87bfe8
    Dark Accent: 		#ac3f3c
    Dark Shades: 		#3d5179

    Cornflower	#87bfe8	Primary
    East Bay	#3d5179	Info
    Silver Tree	#5eb47e	Success
    Anzac		#dba446	Warning
    Pomegranate	#f44336	Danger
 */

body {
    background-color: #f5f6f6;
    margin-top: 8rem;
}

h2 {
    color: white;
    font-size: 55px;
}

#bigdiv {
    padding: 50px;
    margin: 15% 10% 10% 10%;
    background-color: black;
    opacity: .95;
    border-radius: 2px;
}

td {
    padding-left: 15px;
    padding-right: 15px;
}

input {
    border-radius: 5px !important;
    height: 2.5em !important;
    font-size: 20px !important;
}

button {
    margin: 50px 10px 0px 10px !important;
    padding: 10px 70px!important;
    border-radius: 5px !important;
    font-stretch: expanded !important;
    font-weight: bold !important;
    font-size: 2em !important;
}

#add_city_button {
    font-size: 20px !important;
    margin: 0px !important;
    align-items: center !important;
    width: 100% !important;
    background-color: slategray !important;
    color: white !important;
    border-width: 0;
}

.logo {
    padding: 5px 5px 0px 5px;
    height: 15%;
}

#navbar-logo {
    padding-left: 50px;
}

/*.col-sm-12 {*/
/*    display: inline-block !important;*/
/*    white-space: nowrap;*/
/*}*/

/*.col-sm-6 {*/
/*    display: inline-block !important;*/
/*    white-space: nowrap;*/
/*}*/

/*.login-block {*/
/*    !*padding: 0px 40px 0 0;*!*/
/*}*/
