/*
 ------- COLOR SCHEME -------
    Light Shades: 		#FDFCFB
    Light Accent: 		#E3DACD
    Main Brand Color: 	#B2A480
    Dark Shades:		#6B6952
    Dark Accent:		#59313C
    Light Gray Text:    #AFAFAF

    Cornflower	#87bfe8	Primary
    East Bay	#3d5179	Info
    Silver Tree	#5eb47e	Success
    Anzac		#dba446	Warning
    Pomegranate	#f44336	Danger
 */

.navbar-default {
    margin : 0 !important;
}

.navbar {
    margin-bottom: 0;
    height: 82px;
    background-color: #FDFCFB;
}

.nav-item {
    padding-top: 3em !important;
    padding-right: 2em !important;
    padding-left: 2em !important;
}

/*.nav-container {*/
/*    display: flex;*/
/*    -webkit-box-flex: 1;*/
/*}*/
