{% load i18n %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap and CSS -->
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

    <title>RuckSack - Let's Travel!</title>
</head>
<body>
    <!-- Navbar -->
    <header class="site-header" role="banner">
        <div class="nav-container">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" role="navigation">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/"><img class="logo" src="{% static "img/logo_name_0_5.png" %}" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            <a style="color:blue" class="nav-item nav-link" href="#">Create your Itinerary!</a>
                            <a style="color:blue" class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a style="color:blue" class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>



    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>




