{% load i18n %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap and CSS -->
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" sizes="12x12">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Google Places API -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="assets/css/material-kit.css?v=2.0.6" rel="stylesheet" />


    <title>RuckSack - Let's Travel!</title>
</head>
<body>
    <!-- Navbar -->
    <header class="site-header" role="banner">
        <div class="nav-container">
            <nav class="navbar navbar-expand-md bg-steel fixed-top" role="navigation">
                <a class="navbar-brand mr-4" id="navbar-logo" href="/"><img class="logo" src="{% static "img/logo_name.svg" %}" alt="Logo" width="100%"></a>
                <div class="container">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            <a style="color:#3d5179" class="nav-item nav-link" href="#">Create your Itinerary!</a>
                            {% if user.is_authenticated %}
                                <a style="color:#3d5179" class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                                <a style="color:#3d5179" class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                                <a style="color:#3d5179" class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>



    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>




