{% extends "base.html" %}
{%  load static %}
{% block content %}

    <script src="{%  static "js/startPage.js" %}"></script>

    <div id="bigdiv" class="align-self-center" align="center">

        <h2 class="justify-content-center align-items-center">Where will your next adventure be?</h2><br><br>
        <!-- 6 blocks for entering input -->
        <div>
            <p id="city_list"></p>

            <form>
                <div class="form-group">
                    <!-- TODO: Make sure min duration is <= max duration -->
                    <input type="search" id="city_search" class="form-control" placeholder="Enter cities.." autocomplete="off">
                    <br>
                    <table class="col" align="center">
                        <tr>
                            <td style="padding:0 15px 0 0">
                                <input type="number" id="min_duration" class="form-control" placeholder="Enter minimum # of days.." min="0">
                            </td>
                            <td style="padding:0 0 0 15px">
                                <input type="number" id="max_duration" class="form-control" placeholder="Enter maximum # of days.." min="1">
                            </td>
                            <td style="padding:0 0 0 15px">
                               <input type="number" id="budget" class="form-control" placeholder="$ Enter budget..">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center">
                                <button type="submit" class="btn" size="34%">GO!</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>

        </div>
    </div>

{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG5vlSMvXnhd3QaY0O9yUMHxUeSOYePnw=places"></script>#}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG5vlSMvXnhd3QaY0O9yUMHxUeSOYePnw&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock content %}